{% extends 'main/layout.html' %}


{% block title %}Film details{% endblock %}


{% block content %}
    <div class="features">
        <h1>Title: {{ original_title }}</h1>
        {% if overview %}
            <p>Overview: {{ overview }}</p>
        {% endif %}
        {% for production_country in production_countries %}
        <p>id: {{ id }}</p>
        <p>Сountry short name: {{ production_country.iso_3166_1 }}</p>
        <p>Сountry full name: {{ production_country.name }}</p>
        {% endfor %}
        {% for genre in genres %}
            <p>Genre: {{ genre }}</p>
        {% endfor %}
        <p>Runtime: {{ runtime }}</p>
        <p>Release date: {{ release_date }}</p>
        <a href="{% url 'add_film_to_collection' id %}"><button class="btn btn-success" type="submit">Add this film to my collection</button></a>
    </div>
{% endblock %}