{% extends 'main/layout.html' %}


{% block title %}Film details{% endblock %}


{% block content %}
    <div class="features">
        <h1>Title: {{ title }}</h1>
        {% if overview %}
            <p>Overview: {{ overview }}</p>
        {% endif %}
        <p>id: {{ id }}</p>
        <p>Сountry short name: {{ country_short_name }}</p>
        <p>Сountry full name: {{ country_full_name }}</p>
        <p>Genre: {{ genre }}</p>
        <p>Runtime: {{ duration }}</p>
        <p>Release date: {{ year_production }}</p>
        {% if remark %}
        <p>Remark: {{ remark }}</p>
        {% endif %}
        {% if own_rating %}
        <p>Own rating: {{ own_rating }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}<br>
            {{ form_remark.remark }}<br>
            <span>{{ error }}</span>
            <p><button class="btn btn-success" type="submit">Add remark</button></p>
        </form>
        <form method="post">
            {% csrf_token %}<br>
            {{ form_own_rating.own_rating }}<br>
            <span>{{ error }}</span>
            <p><button class="btn btn-success" type="submit">Add own rating</button></p>
        </form>
        <p><a href="{% url 'film-delete' id %}" class="btn btn-danger">Delete this film</a></p>
    </div>
{% endblock %}