{% extends 'main/layout.html' %}


{% block title %}Film details{% endblock %}


{% block content %}
    <div class="features">
        <h1>Title: {{ title }}</h1>
        {% if overview %}
            <p>Overview: {{ overview }}</p>
        {% endif %}
        <p>id: {{ id }}</p>
        <p>Сountry short name: {{ country_short_name }}</p>
        <p>Сountry full name: {{ country_full_name }}</p>
        <p>Genre: {{ genre }}</p>
        <p>Runtime: {{ duration }}</p>
        <p>Release date: {{ year_production }}</p>
        {% if remark %}
        <p>Remark: {{ remark }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}<br>
            {{ form.remark }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Add remark</button>
        </form>
    </div>
{% endblock %}