{% extends 'main/layout.html' %}


{% block title %}My films{% endblock %}


{% block content %}
    <div class="features">
        <h1>My films</h1>
        {% if film %}
            {% for el in film %}
                <div class="alert alert-warning">
                    <h3>{{ el.ukrainian_full_name }}</h3>
                    <p>{{ el.year_prodaction_id }}</p>
                </div>
            {% endfor %}
        {% else %}
        <p>You don't have any films :(</p>
        {% endif %}
    </div>
{% endblock %}